@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Argentum Sans VF ExtraLight";
  src: url("../fonts/argentum-sans/ArgentumSans-ExtraLight.otf") format('otf');
  src: url("../fonts/argentum-sans/ArgentumSans-ExtraLight.ttf") format('ttf');
  font-weight: 200;
}

html {
  @apply scroll-smooth;
}

body {
  @apply font-Unbounded text-base font-normal;
}

.container {
  @apply max-w-[1200px] mx-auto;
}

@media only screen and (max-width: 1300px) {
  .container {
    @apply max-w-full px-[20px]
  }
}


